:root {
    --bodyColor: #9B0C24;
    --navbarColor: #600003;
    --navbarColorHover: #7D001C;
    --footerColor: #600003;
    --footerColorHover: #7D001C;
    --buttonColor: #600003;
    --buttonColorHover: darkblue;
    --textColor: white;
    --borderColor: white;
    --containerColorHover: rgba(255, 255, 255, 0.1);
    --fontNavbar: 'Courier New', Courier, monospace;
    --fontFooter: 'Courier New', Courier, monospace;
    --fontContainers: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

/* body css */
body {
    background-color: var(--bodyColor);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header and navbar css */
header {
    width: 100%;
    font-family: var(--fontNavbar);
    font-weight: bold;
    font-size: larger;
}

#navbar {
    background-color: var(--navbarColor);
    max-width: 100%;
    overflow-x: hidden;
}

#navbar ul,
#footer_links ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

#navbar a,
#footer_links a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color .3s;
    color: var(--textColor);
    white-space: nowrap;
}

#navbar a:hover,
#footer_links a:hover,
#footer_copyright :hover {
    background-color: var(--navbarColorHover);
}

#nav2 ul {
    display: flex;
    flex: 1 1 0;
}

#nav2 ul li {
    flex: 1 1 0;
}

/* footer css */
footer {
    background-color: var(--footerColor);
    color: var(--textColor);
    width: 100%;
    font-family: var(--fontFooter);
    font-weight: bold;
    font-size: larger;
}

#footer_copyright p {
    font-size: large;
    transition: background-color .3s;
    text-align: center;
    padding: 10px;
}

/* main css */
main {
    flex: 1;
    overflow-x: hidden;
}

#logoContainer img {
    border: 2px solid var(--borderColor);
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    animation: pulsate 1.5s infinite;
}

#logoContainer p:hover,
#shortDescription p:hover,
#releaseDate p:hover,
#countDown p:hover,
#notifySection p:hover,
#notifySection h1:hover {
    transform: scale(1.02);
}

#logoContainer:hover,
#shortDescription:hover,
#releaseDate:hover,
#countDown:hover,
#notifySection:hover {
    background-color: var(--containerColorHover);
}

/* custom transition css */
@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }
}

#logoContainer,
#shortDescription,
#releaseDate,
#countDown,
#notifySection {
    border: 2px solid var(--borderColor);
    margin: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    max-width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#shortDescription p,
#releaseDate p,
#notifySection p,
#logoContainer p,
#countDown p,
#countDown span,
#notifySection h1 {
    font-family: var(--fontContainers);
    font-weight: bold;
    color: var(--textColor);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 2em;
}

#logoContainer p {
    font-size: 3em;
    letter-spacing: 0.5em;
}

#releaseDate p {
    letter-spacing: 0.3em;
}

#notifyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notifyForm input[type="email"] {
    font-size: 1.5em;
    font-family: var(--fontContainers);
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

#notifyForm button {
    font-family: var(--fontContainers);
    font-weight: bold;
    font-size: 1.5em;
    color: var(--textColor);
    background-color: var(--buttonColor);
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

#notifyForm button:hover {
    background-color: var(--buttonColorHover);
}

/* repsonsive css, for bigger screens, navbar footer related */
@media screen and (min-width:768px) {

    #navbar ul,
    #footer_links ul {
        display: flex;
    }

    #navbar ul li,
    #footer_links ul li {
        flex: 1 1 0;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
    }

    #nav2 li a {
        display: flex;
        align-items: center;
    }

    #navbar img,
    #footer_links img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }
}